SECRET_KEY=tu-secret-key-aqui
DEBUG=True

DB_NAME=vetconnect_db
DB_USER=vetuser
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=5432

# Usuario con privilegios (CREATEDB/superusuario) solo para la base de tests
DB_TEST_USER=tu-superusuario-postgres
DB_TEST_PASSWORD=

MONGO_URI=mongodb://localhost:27017/
MONGO_DB=vetconnect_mongo

CORS_ALLOW_ALL_ORIGINS=True
