SECRET_KEY=tu-secret-key-aqui
DEBUG=True

DB_NAME=vetconnect_db
DB_USER=vetuser
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=5432

MONGO_URI=mongodb://localhost:27017/
MONGO_DB=vetconnect_mongo

CORS_ALLOW_ALL_ORIGINS=True
