asgiref==3.11.1
django==6.0.6
django-cors-headers==4.9.0
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
dnspython==2.8.0
drf-spectacular==0.28.0
gunicorn==23.0.0
psycopg2-binary==2.9.12
pyjwt==2.13.0
pymongo==4.17.0
sqlparse==0.5.5
